:root {
  --serif: 'Times New Roman', Times, serif;
  --weed: #d6f8db;
  --energy: #a9f768;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

html {
  font-size: 21px;
  background-color: white;
}

body {
  margin: 0;
  padding: 15px;

  display: flex;
  flex-direction: column;

  font-family: var(--serif);
  color: black;
}

img {
  max-width: 100%;
}

a {
  color: #000;
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 21px;
  font-weight: normal;
  font-style: italic;
  line-height: 1;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

li {
  font-weight: 400;
}

nav {
  margin-bottom: 30px;
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  overflow: hidden;
  background-color: white;
  border-radius: 12px;
}

nav > a {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-style: italic;
  text-decoration: none;
  text-align: center;
  color: black;
  background-color: rgb(0 0 0 / 9%);
}

nav > a:hover {
  text-decoration: none;
  opacity: .8;
}

nav #back {
  max-width: max-content;
  background-image: url(https://leaftree.life/images/clouds-1.jpg);
  background-size: cover;
  background-position: center center;
}

nav #back:hover {
  filter: brightness(90%);
}

nav #back-arrow {
  padding: 0 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../images/back-arrow.svg);
}

nav #websites {
  max-width: max-content;
  //background-image: url(https://leaftree.life/images/clouds-1.jpg);
  background-color: #201d8c;
  background-size: cover;
  background-position: center center;
}

nav #websites:hover {
  filter: brightness(90%);
}

nav #forward-arrow {
  padding: 0 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../images/forward-arrow.svg);
}

nav #update {
  border-left: 1px solid white;
}

main {
  flex: 1 0 auto;
}

aside {
  margin-top: 30px;
  background-color: white;
}

aside > ol li a {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-top: 2px solid #e5e5e5;
}

aside > ol li:last-of-type > a {
  border-bottom: 2px solid #e5e5e5;
}

aside > ol li a::after {
  content: '';
  margin-left: auto;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #000;
  display: block;
  transform: rotate(90deg);
}

aside > ol li a:hover {
  text-decoration: none;
}

footer {
  flex-shrink: 0;
  margin-top: auto;
  padding-top: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: space-between;

  background-color: #e7c581;
  border-top: 1px dashed black;
}

@media (max-width: 800px) {
  footer {
    display: block;
  }
}

footer > p {
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  background-color: chocolate;
}

footer > p:nth-of-type(2) {
  grid-column-start: 3;
}

footer > p:nth-of-type(3) {
  margin-top: 30px;
  grid-column-start: 1;
  grid-column-end: 4;
}

footer > p:nth-of-type(3) a {
  font-style: italic;
}

#sun {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 400px;
  width: 100%;
  height: 250px;
  background-color: red;
  border-radius: 4vw 4.5vw 5vw / 3.5vw 5vw;
  animation-name: sun;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  z-index: -1;
}

@keyframes sun {
  100% {
    background-color: var(--energy);
    box-shadow: 0 0 6vw 21.3vw var(--energy);
  }
}

form > fieldset {
  margin: 0;
  padding: 0;
  border: none;
  background-color: lightgreen;
}

form > fieldset + fieldset {
  margin-top: 11px;
}

form > fieldset > label {
  display: block;
  line-height: 1;
}

form > fieldset > input {
  margin: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;

  max-width: calc(100vw - 30px);
  width: 699px;

  font-family: inherit;
  font-size: inherit;
  background-color: white;
  outline: none;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 10px;
}

form > fieldset > textarea {
  margin: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;

  max-width: calc(100vw - 30px);
  width: 699px;

  font-family: inherit;
  font-size: inherit;
  outline: none;
  vertical-align: middle;
  background-color: white;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 10px;
}

form > fieldset > small {
  display: block;
  font-size: 21px;
  line-height: 1;
}

form > fieldset > button {
  margin: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  background: #fff;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 10px;
}

form > fieldset > button:hover {
  border: 1px solid rgb(0, 0, 0);
}